/* .hidden {
  display: none;
} */

/* .extended-view {
  display: flex;
} */

.movie-image {
  /* border: 5px solid orange; */
  /* height: 100%; */
  display: flex;
  justify-content: center;

}
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.expanded-movie {
  /* border: 5px solid purple; */
  height: 50%;
  width: 70%;
  padding-top: 5%;
}

.title {
  color: white;
  font-size: 8vh;
  border: 2px solid white;
  margin: 0;
}

.release-date,
.overview,
.rating,
.genre,
.runtime {
  color: white;
  border: 2px solid white;
  font-size: 3vh;
  margin: 5px;
}

.date-time {
  display: flex;
}
