.movie-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 5%;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: 12vh;
  color: white;
  font-size: 8vh;
  margin: 0;
  font-weight: bold;
  position: absolute;
  font-family: 'Bebas Neue', cursive;
}

.rating {
  display: flex;
  justify-content: center;
  background-color: red;
  color: black;
  border-radius: .5vh;
  border: none;
  opacity: .9;
  height: 3vh;
  width: 150px;;
  margin: .5vh;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5vh;
}

.release-date,
.overview,
.runtime,
.tagline {
  color: white;
  font-size: 2vh;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.genre {
  border: 1px solid white;
  font-size: 2vh;
  margin: 5px;
  color: white;
  padding: .3vh;
}

.date-time {
  display: flex;
  align-items: center;
}

.back {
  position: fixed;
  right: 0;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.back:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
