/* .hidden {
  display: none;
} */

.extended-view {
  /* border: 5px solid orange; */
  /* height: 100%; */
  display: flex;
  justify-content: center;

}

.expanded-movie {
  /* border: 5px solid purple; */
  height: 80%;
  width: 50%;
  margin: 10%;
}

.title {
  color: white;
  font-size: 5vh;
}
