
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 1;
  background-color: red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav {
  margin-left: 25px;
  font-weight: bolder;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.65rem;
}
