.list-wrapper {
  width: 50%;
  margin-top: 100px;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
  height: 500px;
  overflow-y: scroll;
}

.list {
  width: 650px;
}

li {
  display: flex;
  justify-content: space-between;
}

.list-title {
  margin-left: 20px;
}

.list-rating {
  margin-right: 25px;
}
