.list-wrapper {
  width: 50%;
  margin-top: 100px;
  margin-left: 25%;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
  opacity: 0.88;
  height: 500px;
  overflow-y: scroll;
  border-radius: 5px;
}

.list {
  width: 650px;
}

li {
  display: flex;
  justify-content: space-between;
}

.list-title {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.list-rating {
  margin-right: 25px;
  font-weight: bold;
}
