.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-container {
  width: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.search-bar {
width: 200px;
}

.hidden {
  display: none;
}
