.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.search-container {
  width: 100%;
  height: 100px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
}

.search-bar {
width: 200px;
height: 25px;
font-family: 'Bebas Neue', cursive;
}

.hidden {
  display: none;
}
