.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-container {
  width: 100%;
  height: 100px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
width: 200px;
}

.hidden {
  display: none;
}
