.row-posters {
  margin-top: 80px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; */
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px; 
}

.single-poster {
   width: 250px;
   height: 350px;
   margin: 10px;
 }

 /* .hidden {
   display: none;
 } */
