.posters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  padding-left: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row-of-posters {
  display: flex;
  padding: 20px;
}

.single-poster {
   width: 250px;
   height: 350px;
   margin: 10px;
   transition: transform 425ms;
 }

 .posters-title {
   font-family: 'Bebas Neue', cursive;
   font-size: 5.5vh;
 }

 .single-poster:hover {
  transform: scale(1.08);
}
