.posters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  margin-left: 20px;
  padding-left: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row-of-posters {
  display: flex;
  padding: 20px;
}

.single-poster {
   width: 250px;
   height: 350px;
   margin: 10px;
   transition: transform 450ms;
 }

 .single-poster:hover {
  transform: scale(1.08);
}

 /* .row-container::-webkit-scrollbar {
  /* this is sayng; hey all browsers, don't display the scroll bar,
  but keeps it's functionality there */
  /* display: none; */
